body {
    background-color: chartreuse;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
    transform: skewX(35deg);
}

img {
    height: 300px; 
    width: 300px;
    display: inline-block;
}

div.portrait {
    float: left;
}

div.transform-portrait {
    float: left;
    margin: 100px;
    transform: skew(20deg, 20deg);
}

div.really-transform-portrait {
    float: left;
    margin: 100px;
    transform: skew(50deg, 50deg);
}

footer {
    transform: skewY(5deg);
}


